body {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 10px);
	overflow-x: hidden;
    background-color: rgb(76, 46, 46);
    cursor: url(img/pinkcursorresize.png), auto;
    font-family: 'Courier New', Courier, monospace;
    
}


/*test for interactable objects*/
.scoreable {
    cursor: pointer;
}

.scoreable :hover {
    transform: scale(1.02) rotate(2deg);
    transition: transform 0.2s;
}

.homescreen{
    position:relative;
    z-index: 2;
    width: 100%;
    height: 900px;
}

.backhomearrow img{
    position: absolute;
    top: -3vw;
    left: 0vw;
    width: 13vw;
}

/*source for this and more: https://codepen.io/yvana/pen/XWJMKxg*/
.backhomearrow :hover{
    transition: all 0.6s;
    transform: rotateZ(360deg) scale(1.3);
}

/*marquee*/
.marquee {
    overflow: hidden;
    border-top: 1px dotted #d53f8c;
    border-bottom: 1px dotted #d53f8c;
    background-color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 3;
  }
  
  .marquee h1{
    font-family: 'Courier New', Courier, monospace;
    color: #d53f8c;
    font-size: 1em;
    white-space: nowrap;
  }


/*home*/
.homebg{
    position: fixed;
    z-index: 1;
    background-image: url(img/1020brick.jpg);
    background-repeat: repeat;
    filter: opacity(0.7);
    width: 100%;
    height: 100%;
}

.windowleft img{
    position: absolute;
    left: 1vw;
    width: 32vw;
}

.windowright img{
    position: absolute;
    right: 15vw;
    width: 32vw;
    z-index: 4;
}

.portrait img{
    position: absolute;
    top: 2vw;
    left: 35vw;
    width: 20vw;
}

.couch img{
    position: absolute;
    top: 13.5vw;
    left: 25vw;
    width: 40vw;
}

.stairs img{
    position: absolute;
    top: 0;
    right: -15vw;
    width: 51vw;
    z-index: 3;
}

.hole img{
    position: absolute;
    top: 35vw;
    left: 3vw;
    width: 18vw;
}


/*about*/
.abouttext{
    position:absolute;
    top: 16.5vw;
    left:20vw;
    width: 30vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1vw;
}

.aboutportrait img{
    position: absolute;
    top: 2.7vw;
    right: 10vw;
    width: 40vw;
}


/*bedroom*/
.bedroombg{
    position: fixed;
    z-index: 1;
    background-image: url(img/bedroombrick1.jpg);
    background-repeat: repeat;
    filter: opacity(0.6);
    width: 100%;
    height: 100%;
}

.balcony img{
    position: absolute;
    top: 4.4vw;
    right: 10vw;
    width: 20vw;
}

.bed img{
    position: absolute;
    top: 10vw;
    left: 4vw;
    width: 40vw;
}

.basket img{
    position: absolute;
    top: 35vw;
    right: 6vw;
    width: 15vw;
}

.yarn img{
    position: absolute;
    top: 38.8vw;
    right: 10.5vw;
    width: 16vw;
}

/*yarn alert*/
#yarn-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it sits on top of everything */

}

.alert-box img{
    position:relative;
    top: 20vw;
    left: 45vw;
    width: 15vw;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    animation: popIn 0.2s ease; /* Optional nice animation */
}

#close-alert {
    position: relative;
    top: 18.2vw;
    left: 38.2vw;
    width: 5.3vw;
    height: 1.7vw;
    background-color: #c0c0c0;
    animation: popIn 0.2s ease; /* Optional nice animation */

}

@keyframes popIn {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/*bed alert*/
#bed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it sits on top of everything */

}

.timer-box img{
    position: relative;
    top: 20vw;
    left: 45vw;
    width: 15vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-x {
    position: absolute;
    top: 20.1vw;
    left: 58.7vw;
    font-size: 1.4vw;
    font-weight: bold;
    color: #939393;
    cursor: pointer;
    z-index:1001;
}

.close-x:hover {
    color: #000; /* Darken when hovering */
}

#timer-count{
    position: relative;
    top: 16vw;
    left: 56vw;
    font-size: 3vw;
    color: #d53f8c;
}

/*balcony*/
.balconybg{
    position: fixed;
    z-index: 1;
    background-image: url(img/balconybg.jpg);
    filter: opacity(0.9);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.railing img{
    position: absolute;
    z-index: 0;
    filter: opacity(0.9);
    width: 100vw;
}

.telescope img{
    position: absolute;
    top: 7vw;
    left: 17vw;
    width: 22vw;
}

/*dungeon*/
.dungeonbg{
    position: fixed;
    z-index: 1;
    background-image: url(img/TILES01.png);
    background-repeat: repeat;
    filter: opacity(0.4);
    width: 100%;
    height: 100%;
}

.plant img{
    position: absolute;
    top: 2vw;
    left: 5vw;
    width: 25vw;
}

.planterror img {
    position: fixed;
    z-index: 1000;
    width: 10vw;
    left: 13vw; 
    top: 15vw; 
    
    /* Animation states */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s ease-out, visibility 1s;
}

.planterror.show img {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

.computer img{
    position: absolute;
    top: 11.5vw;
    left: 35.5vw;
    width: 22vw;
}

.shelf img{
    position: absolute;
    top: 20vw;
    left: 70vw;
    width: 26vw;
}

.desk img{
    position: absolute;
    top: 6vw;
    left: 26vw;
    width: 43vw;
}

.cable img{
    position: absolute;
    top: 31vw;
    left: 78.8vw;
    width: 13vw;
}

#cable-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it sits on top of everything */

}

#close-alert-cable {
    position: relative;
    top: 18.2vw;
    left: 38.2vw;
    width: 5.3vw;
    height: 1.7vw;
    background-color: #c0c0c0;
    animation: popIn 0.2s ease; /* Optional nice animation */

}

/*computer*/
.computerbg{
    position: fixed;
    z-index: 1;
    background-image: url(img/Autumn1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.homeicon img{
    position: absolute;
    top: -2vw;
    right: -2vw;
    width: 14vw;
    cursor: pointer;
}

.quiticon img{
    position: absolute;
    top: 6vw;
    right: -2vw;
    width: 14vw;
    cursor: pointer;
}

.window-container {
    position: absolute;
    top: 10vw;
    left: 20vw;
    width: 60vw;
    border: 0.2vw solid black;
    background: white;
    box-shadow: 0.7vw 0.7vw 0px #888888d0;
}

.window-header {
    background: #d53f8c;
    color: white;
    padding: 1vw;
    font-size: 1.3vw;
    font-weight: bold;
    border-bottom: 0.2vw solid black;
    cursor: move;
    user-select: none;
}

.window-content {
    padding: 3vw;
    font-size: 1vw;
}

/*escape*/
.escapewindow img{
    position: absolute;
    top: -3vw;
    left: 23vw;
    width: 50vw;
}

.escapewindow :hover{
    scale: 1.5;
    transition: scale 8s ease-in;
    animation: tilt-n-move-shaking 0.16s infinite;
}

/* https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-1px, 1px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.deco001 img{
    position: absolute;
    top: 28.8vw;
    left: 75.8vw;
    width: 25vw;
}

.deco002 img{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 10vw;
}

.deco003 img{
    position: absolute;
    top: 5vw;
    left: 25vw;
    width: 12vw;
}

.deco004 img{
    position: absolute;
    top: 21vw;
    left: 1.5vw;
    width: 25vw;
}

.deco005 img{
    position: absolute;
    top: 1vw;
    left: 73vw;
    width: 18vw;
} 

.inventorybox img{
    position: absolute;
    top: 27vw;
    left: 3vw;
    width: 28vw;
}

.yarninventory img{
    position: absolute;
    top: 41vw;
    left: 3vw;
    width: 10vw;
}

.cableinventory img{
    position: absolute;
    top: 33vw;
    left: 19vw;
    width: 9vw;
}