@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 10px);
	overflow-x: hidden;
    background-color: rgb(76, 46, 46);
    cursor: url(img/pinkcursorresize.png), auto;
    font-family: "DotGothic16",'Courier New', Courier, monospace;
    
}


/*test for interactable objects*/
.scoreable {
    cursor: pointer;
}

.scoreable :hover {
    transform: scale(1.02) rotate(2deg);
    transition: transform 0.2s;
}

.homescreen{
    position:relative;
    z-index: 2;
    width: 100%;
    height: 900px;
}

.backhomearrow img{
    position: absolute;
    top: -3vw;
    left: 0vw;
    width: 13vw;
    z-index: 99;
}

.sparkle{
    position:absolute;
    background-image: url(img/sparkle.gif);
    background-size: cover;
    width: 10vw;
    height: 10vw;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s ease-out, visibility 1s;
}

.sparkle.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

/* source for this and more: https://codepen.io/yvana/pen/XWJMKxg */
.backhomearrow :hover{
    transition: all 0.6s;
    transform: rotateZ(360deg) scale(1.3);
}

/*marquee*/
.marquee {
    overflow: hidden;
    border-top: 1px dotted #d53f8c;
    border-bottom: 1px dotted #d53f8c;
    background-color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }
  
.marquee h1{
    color: #d53f8c;
    font-size: 1em;
    white-space: nowrap;
}


/* index */

.indexbg{
    position: fixed;
    z-index: 1;
    background-image: url(img/bgtexture.gif), url(img/197.GIF);
    background-repeat: repeat;
    background-blend-mode: lighten;
    background-size: contain;
    filter: opacity(0.7);
    width: 100%;
    height: 100%;
}

.bricktexture{
    position:absolute;
    background-image: url(img/bricktexture.png) ;
    background-size: 30%;
    opacity: 0.6;
    background-repeat: repeat;
    width: 80vw;
    height: 40vw;
    top:5vw;
    left:11vw;
}

.deco013 img{
    position: absolute;
    top: 20vw;
    left: 20vw;
    width: 18vw;
}

.deco014 img{
    position: absolute;
    top: 10vw;
    left: 34vw;
    width: 30vw;
}

.deco015 img{
    position: absolute;
    top: 5vw;
    left: 28vw;
    width: 10vw;
}

.deco016 img{
    position: absolute;
    top: 3vw;
    left: 58vw;
    width: 25vw;
}

.deco017 img{
    position: absolute;
    top: 35vw;
    left: 34vw;
    width: 8vw;
}

.deco018 img{
    position: absolute;
    top: 10vw;
    left: 13vw;
    width: 15vw;
} 

.deco019 img{
    position: absolute;
    top: 9vw;
    left: 45vw;
    width: 14vw;
}

.enter img{
    position: absolute;
    top: 15vw;
    left: 48vw;
    width: 20vw;
    border: 0.2vw dashed #d53f8c;
}

.indextitle img{
    position:absolute;
    width: 23vw;
    top: 25vw;
    left: 65vw;
    pointer-events: none;
}

.indextext{
    position:absolute;
    background-color: #d0ceceeb;
    padding: 1.5vw;
    border: 0.5vw dashed #d53f8c;
    color:#d53f8c;
    font-weight: 600;
    font-size: 1vw;
    width: 25vw;
    top: 38vw;
    right: 10vw;
    pointer-events: none;

}



/*home*/
.homebg{
    position: fixed;
    z-index: 1;
    background-image: url(img/1020brick.jpg);
    background-repeat: repeat;
    filter: opacity(0.7);
    width: 100%;
    height: 100%;
}

.windowleft img{
    position: absolute;
    left: 1vw;
    width: 32vw;
}

.windowright img{
    position: absolute;
    right: 15vw;
    width: 32vw;
    z-index: 4;
}

.portrait img{
    position: absolute;
    top: 2vw;
    left: 35vw;
    width: 20vw;
}

.couch img{
    position: absolute;
    top: 13.5vw;
    left: 25vw;
    width: 40vw;
}

.stairs img{
    position: absolute;
    top: 0;
    right: -15vw;
    width: 51vw;
    z-index: 3;
}

.hole img{
    position: absolute;
    top: 35vw;
    left: 3vw;
    width: 18vw;
}

.title img{
    position: absolute;
    width:100vw;
    animation: flicker 5s ease infinite, flicker_opacity 3s infinite;
    pointer-events: none;
}

@keyframes flicker{
    0% { transform: scale(1);  }
    50% { transform: scale(0.99);}
    100% { transform: scale(1); }
}

@keyframes flicker_opacity{
    0% { opacity: 0.7; }
    25% { opacity: 0.6; }
    75% { opacity: 0.8; }
    100% { opacity: 0.7; }
}


/*about*/
.abouttext{
    position:absolute;
    top: 16.5vw;
    left:20vw;
    width: 30vw;
    color: white;
    font-size: 1.2vw;
    background-color: #b4b3b30b;
    padding: 1vw;
    font-family: "DotGothic16";
}

.aboutportrait img{
    position: absolute;
    top: 2.7vw;
    right: 10vw;
    width: 40vw;
}


/*bedroom*/
.bedroombg{
    position: fixed;
    z-index: 1;
    background-image: url(img/bedroombrick1.jpg);
    background-repeat: repeat;
    filter: opacity(0.6);
    width: 100%;
    height: 100%;
}

.balcony img{
    position: absolute;
    top: 4vw;
    right: 10vw;
    width: 21vw;
    box-shadow: #f687b36d 0px 0px 50px;
}

.bed img{
    position: absolute;
    top: 10vw;
    left: 4vw;
    width: 40vw;
}

.basket img{
    position: absolute;
    top: 35vw;
    right: 6vw;
    width: 15vw;
}

.nightstand img{
    position: absolute;
    top: 15vw;
    left: 32.5vw;
    width: 25vw;
}

.painting img{
    position: absolute;
    top: 2vw;
    left: 35vw;
    width: 20vw;
}

.yarn img{
    position: absolute;
    top: 38.8vw;
    right: 10.5vw;
    width: 16vw;
}


/*yarn alert*/
#yarn-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it sits on top of everything */

}

.alert-box img{
    position:relative;
    top: 20vw;
    left: 45vw;
    width: 15vw;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    animation: popIn 0.2s ease;
}

#close-alert {
    position: relative;
    top: 18.2vw;
    left: 38.2vw;
    width: 5.3vw;
    height: 1.7vw;
    background-color: #c0c0c0;
    animation: popIn 0.2s ease; /* Optional nice animation */
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9vw;

}

@keyframes popIn {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/*bed alert*/
#bed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it sits on top of everything */

}

.timer-box img{
    position: relative;
    top: 20vw;
    left: 45vw;
    width: 15vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-x {
    position: absolute;
    top: 20.1vw;
    left: 58.7vw;
    font-size: 1.4vw;
    font-weight: 800;
    color: #939393;
    cursor: pointer;
    z-index:1001;
    font-family: 'Courier New', Courier, monospace;
}

.close-x:hover {
    color: #000; /* Darken when hovering */
}

#timer-count{
    position: relative;
    top: 16vw;
    left: 56vw;
    font-size: 3vw;
    color: #d53f8c;
}

/*balcony*/
.balconybg{
    position: fixed;
    z-index: 1;
    background-image: url(img/balconybg.jpg);
    filter: opacity(0.9);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.railing img{
    position: absolute;
    z-index: 0;
    filter: opacity(0.9);
    width: 100vw;
}

.telescope img{
    position: absolute;
    top: 7vw;
    left: 17vw;
    width: 22vw;
}

.stars img{
    position: absolute;
    top: 2vw;
    left: 55vw;
    width: 20vw;
}

/*dungeon*/
.dungeonbg{
    position: fixed;
    z-index: 1;
    background-image: url(img/TILES01.png);
    background-repeat: repeat;
    filter: opacity(0.4);
    width: 100%;
    height: 100%;
}

.plant img{
    position: absolute;
    top: 2vw;
    left: 5vw;
    width: 25vw;
}

.planterror img {
    position: fixed;
    z-index: 1000;
    width: 10vw;
    left: 13vw; 
    top: 15vw; 
    
    /* Animation states */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s ease-out, visibility 1s;
}

.planterror.show img {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

.computer img{
    position: absolute;
    top: 11.5vw;
    left: 35.5vw;
    width: 22vw;
}

.shelf img{
    position: absolute;
    top: 20vw;
    left: 70vw;
    width: 26vw;
}

.desk img{
    position: absolute;
    top: 6vw;
    left: 26vw;
    width: 43vw;
}

.cable img{
    position: absolute;
    top: 31vw;
    left: 78.8vw;
    width: 13vw;
}

#cable-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000; 

}

#close-alert-cable {
    position: relative;
    top: 18.3vw;
    left: 38.3vw;
    width: 5.3vw;
    height: 1.7vw;
    background-color: #c0c0c0;
    animation: popIn 0.2s ease;
    font-family: "DotGothic16", Courier;
    font-size: 0.8vw;

}

.electric img{
    position:absolute;
    top: 2vw;
    left: 65vw;
    width: 13vw;

}

/*computer*/
.computerbg{
    position: fixed;
    z-index: 1;
    background-image: url(img/Autumn1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.homeicon img{
    position: absolute;
    top: -2vw;
    right: -2vw;
    width: 14vw;
    cursor: pointer;
}

.quiticon img{
    position: absolute;
    top: 6vw;
    right: -2vw;
    width: 14vw;
    cursor: pointer;
}

.window-container {
    position: absolute;
    top: 7vw;
    left: 20vw;
    width: 60vw;
    height: 40vw;
    border: 0.2vw solid black;
    background-image: url(img/CLOVER2.JPG);
    box-shadow: 0.7vw 0.7vw 0px #888888d0;
    background-attachment: scroll;

}

.window-header {
    background: #d53f8c;
    color: white;
    padding: 1vw;
    font-size: 1.3vw;
    font-weight: bold;
    border-bottom: 0.2vw solid black;
    cursor: move;
    user-select: none;
}

.window-content {
    padding: 3vw;
    font-size: 1vw;
}

/* page1 */

.horse img{
    position: absolute;
    width: 20vw;
    pointer-events: none;
}

.speech1 img{
    position:absolute;
    width: 24vw;
    height: 20vw;
    top: 8vw;
    left: 25vw;
    pointer-events: none;
}

.speech1 p{
    position:absolute;
    color:#d53f8c;
    font-weight: 600;
    font-size: 1.3vw;
    left: 30vw;
    top: 11vw;
}

.scoreable[data-value="yes_horse"] {
    position: absolute;
    top: 16vw;
    left: 32vw;
    font-size: 1.3vw;
    color: #d53f8c;
    padding: 0.5vw;
}

.scoreable[data-value="no_horse"] {
    position: absolute;
    top: 16vw;
    left: 38vw; 
    font-size: 1.3vw;
    color: #d53f8c;
    padding: 0.5vw;
}

/* page2 */
.horsesgif img{
    position:absolute;
    width: 54vw;
}

.congrats img{
    position:absolute;
    width: 50vw;
    top: 5vw;
    left: 5vw;
    pointer-events: none;
}

.backhomearrow.exitcomputer img{
    left: 51vw;
    top: -2.5vw;
    width: 9vw;
}

/* page3 */
.scoreable[data-value="balouba"] {
    position: absolute;
    top: 12vw;
    left: 30vw;
    font-size: 1.3vw;
    color: #d53f8c;
    padding: 0.5vw;
}

.scoreable[data-value="pepis"] {
    position: absolute;
    top: 12vw;
    left: 44vw; 
    font-size: 1.3vw;
    color: #d53f8c;
    padding: 0.5vw;
}

.speech2 img{
    position:absolute;
    width: 32vw;
    height: 33vw;
    top: 5vw;
    left: 23vw;
    pointer-events: none;
}

.speech2 p{
    position:absolute;
    color:#d53f8c;
    font-weight: 600;
    font-size: 1.3vw;
    left: 30vw;
    top: 8vw;
}

.balouba img{
    position: absolute;
    top: 16vw;
    left: 29vw;
    width: 10vw;
    height: 10vw;
}

.pepis img{
    position: absolute;
    top: 16vw;
    left: 40vw;
    width: 11vw;
    height: 10vw;
}

/* page 4 */
.page4text {
    position: absolute;
    background-color: #d0ceceeb;
    padding: 1.5vw;
    border: 0.5vw dashed #d53f8c;
    color:#d53f8c;
    font-weight: 700;
    font-size: 1.05vw;
    width: 20vw;
    top: 8vw;
    left: 5vw;
}

.angrycomputer img{
    position: absolute;
    right: 3vw;
    top: 15vw;
    width: 35vw;
}

.deco006 img{
    position: absolute;
    left: 30vw;
    top: 7vw;
    width: 10vw;
}

.deco007 img{
    position: absolute;
    left: 8vw;
    top: 19vw;
    width: 15vw;
}

.deco008 img{
    position: absolute;
    right: 6vw;
    top: 9vw;
    width: 6vw;
}


/*escape*/
.escapewindow img{
    position: absolute;
    top: -3vw;
    left: 23vw;
    width: 50vw;
}

.escapewindow :hover{
    scale: 1.5;
    transition: scale 8s ease-in;
    animation: tilt-n-move-shaking 0.16s infinite;
}

/* https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-1px, 1px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.deco001 img{
    position: absolute;
    top: 28.8vw;
    left: 75.8vw;
    width: 25vw;
}

.deco002 img{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 10vw;
}

.deco003 img{
    position: absolute;
    top: 5vw;
    left: 25vw;
    width: 12vw;
}

.deco004 img{
    position: absolute;
    top: 21vw;
    left: 1.5vw;
    width: 25vw;
}

.deco005 img{
    position: absolute;
    top: 1vw;
    left: 73vw;
    width: 18vw;
} 

.inventorybox img{
    position: absolute;
    top: 27vw;
    left: 3vw;
    width: 28vw;
}

.yarninventory img{
    position: absolute;
    top: 41vw;
    left: 3vw;
    width: 10vw;
}

.cableinventory img{
    position: absolute;
    top: 33vw;
    left: 19vw;
    width: 9vw;
}

.ransome img{
    position: absolute;
    top: 12vw;
    left: 57vw;
    width: 40vw;
    animation: tilt-n-move-shaking 3.5s infinite;
}


/* cable escape */

.cablebg{
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(rgb(164, 222, 255), rgb(32, 46, 61), rgb(39, 0, 19), #d53f8c);
    width: 100%;
    min-height: 100%;
}

.cablescreen{
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 17vw 1fr 0vw;
    grid-template-columns: 1fr 46vw 1fr;
    grid-template-areas:
      ". . ."
      ". tower ."
      ". . .";
    margin: 0;
}

.towercontainer{
    grid-area: tower;
    height: 7000px;
    position: relative;
    background-image: url(img/TBrick3.png);
    background-repeat: repeat;
    background-size: 80%;

    border: solid transparent;
    border-width: 0 2vw 1.5vw 2vw;
    border-image: url(img/TBrick20.png) round;
    border-image-outset: 12px;
    border-image-slice: 8% ;

    padding: 1vw;
    
}

.roof img{
    position: absolute;
    z-index: 4;
    top: -1vw;
    left: 22.6vw;
    width: 53vw;
}

.gate img{
    position: absolute;
    z-index: 5;
    bottom: 0.5vw;
    left: 22vw;
    width: 55vw;
    pointer-events: none;

}

.exit1 img{
    position: absolute;
    z-index: 4;
    bottom: 0vw;
    left: 37.5vw;
    width: 25vw;
}

.clouds{
    background-image: url(img/Clouds1.png);
    position: absolute;
    z-index: 2;
    filter: opacity(0.8);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 40px);
    height: 30%;
    left: -20px;
    animation: swaying 15s ease-in-out infinite;

}

@keyframes swaying {
    0% { 
        transform: translate(-20px, 1px); }
    50% { 
        transform: translate(20px, 0px); }
    100% { 
        transform: translate(-20px, 1px); }
}

.cablewindow img{
    position: absolute;
    top: 5.5vw;
    left: -4vw;
    width: 25vw;
}

.cabledown{
    position: absolute;
    background-image: url(img/cabledown2.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 47.8vw;
    height: 6100px;
    top: 24.9vw;
    left: -3vw;
    z-index: 5;

}


/* yarn escape */
body.scroll-x {
    overflow-x: auto; /*love creating problems for myself don't i🫠*/
    overflow-y: hidden
}

.yarnscreen{
    position: relative;
    z-index: 2;
    height: 100%;
    width: fit-content;
    min-width: 100vw;
    margin: 0;

}

.yarnbg{
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(0.25turn, #b9ceb9, rgb(46, 61, 32), rgb(39, 0, 19), #d53f8c);
    width: calc(100% + 100vw); /* scarfmid left value*/
    height: 99vh;
}

.scarfmid{
    width: 8000px;
    margin-right: 14vw;
    height: 30vw;
    position: relative;
    background-image: url(img/Scarfmid.png);
    background-repeat: repeat;
    background-size: contain;
    z-index: 3;
    top: 10vw;
    left: 100vw;
    pointer-events: none;

}

.scarfleft img{
    position: absolute;
    width: 43vw;
    top: 9vw;
    left: 59.5vw;
    z-index: 4;
}

.yarnwindow img{
    position: absolute;
    width: 15vw;
    top: 5vw;
    left: 9vw;
    z-index:4;

}

.yarntower{
    position: absolute;
    width: 25vw;
    height: 99vh;
    z-index: 3;

    background-image: url(img/TBrick3.png);
    background-repeat: repeat;
    background-size: 80%;

    border: solid transparent;
    border-width: 0 2vw 1.5vw 1vw;
    border-image: url(img/TBrick20.png) round;
    border-image-outset: 12px;
    border-image-slice: 8% ;

}

.crochet img{
    position: absolute;
    width: 100vw;
    z-index: 4;
    top: 0;
    left: 0;
}

.exit2 img{
    position: absolute;
    width: 50vw;
    height: 41vw;
    left: calc(100% + 50vw); /* 100 - width*/
    top: 2.5vw;
    z-index: 4;
}


/* yarn final */

.video_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

.pigeon img{
    position: absolute;
    top: 7vw;
    left: 0vw;
    width: 14vw;
    animation: fly 10s linear infinite;
}

@keyframes fly{
    0% { transform: translate(110vw, -1vw) }
    50% { transform: translate(40vw, 2vw) }
    100% { transform: translate(-30vw, -4vw) }
    
}

.rabbit img{
    position: absolute;
    top: 33vw;
    left: 10vw;
    width: 10vw;
}

.yarnfinalmessage{
    position:absolute;
    background-color: #d0ceceeb;
    padding: 1.5vw;
    border: 0.5vw dashed #d53f8c;
    color:#d53f8c;
    font-weight: 600;
    font-size: 0.9vw;
    width: 25vw;
    top: 28vw;
    right: 15vw;
    pointer-events: none;
}

.restart img{
    position:absolute;
    border: 0.2vw dashed #d53f8c;
    width: 10vw;
    top: 40.2vw;
    right: 17vw;
}

/* cable final */

.cablefinalmessage{
    position:absolute;
    background-color: #d53f8cc0;
    padding: 1.5vw;
    border: 0.5vw dashed #b4b3b3;
    color: #b4b3b3;
    font-weight: 600;
    font-size: 0.9vw;
    width: 25vw;
    top: 8vw;
    left: 15vw;
    pointer-events: none;
}

.deco009{
    position:absolute;
    background-image: url(img/glitch1.gif);
    background-size: cover;
    top: 0vw;
    right:0;
    width: 30vw;
    height: 35vw;
    opacity: 0.4;
}

.deco012 img{
    position: absolute;
    width: 25vw;
    top: 30vw;
    left: 0;
}

.deco010 img{
    position: absolute;
    width: 25vw;
    top: 20vw;
    left: 0vw;
    opacity: 0.8;
    animation: run 3s linear infinite;
}

@keyframes run{
    0% { transform: translate(-25vw, 0vw) }
    100% { transform: translate(120vw, 0vw) }
}

#deco010f2 img{
    animation-delay: -1.5s;
}

.deco011 img{
    position: absolute;
    width: 5vw;
    top: 3.6vw;
    left: 16vw;
}

/* lol */
.lolbg{
    position: relative;
    z-index: 1;
    background-image: url(img/fish.gif);
    background-color: #f687b3;
    background-blend-mode: normal;
    background-size:50%;
    width: 100vw;
    height: 100vh;
}

.duck img{
    position: absolute;
    top: 30vh;
    left: 40vw;
    width: 20vw;
}

