{% extends "layout.html" %}

{% block title %}home{% endblock %}

{% block body %}

<main>
<!--
    <a href="/princess">Go to the Princess</a>
    <a href="/bedroom">Go to the Bedroom</a>
    <br> <br>
    <div class="scoreable" data-value="test_good" >
        Click this box for +3 points
    </div>
    <br>
    <div class="scoreable" data-value="test_bad" >
        <h3>Danger Zone</h3>
        <p>Clicking anywhere in this box gives -1 point</p>
    </div> -->
    <div class="homebg"></div>
    <div class="homescreen">
        <div class="windowleft">
            <img src="{{ url_for ('static', filename='img/Window2.png') }}" alt="Left Window">
        </div>
        <div class="portrait">
            <a href="/princess"><img src="{{ url_for ('static', filename='img/Portrait1.png') }}" alt="Princess Portrait"></a>
        </div>
        <div class="windowright">
            <img src="{{ url_for ('static', filename='img/Window1.png') }}" alt="Right Window">
        </div>
        <div class="couch">
            <img src="{{ url_for ('static', filename='img/Couch1.png') }}" alt="Couch">
        </div>
        <div class="stairs scoreable" data-value="stairs">
            <a href="/bedroom"><img src="{{ url_for ('static', filename='img/StairsUp1.png') }}" alt="Stairs"> </a>
        </div>
        <div class="hole scoreable" data-value="hole">
            <a href="/dungeon"><img src="{{ url_for ('static', filename='img/Hole1.png') }}" alt="Hole"></a>
        </div>



        
    </div>
    

</main>

{% endblock %}