<!--
 _____                                                                    _____ 
( ___ )                                                                  ( ___ )
 |   |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|   | 
 |   |                         _                                          |   | 
 |   |            _ __   _ __ (_) _ __    ___  ___  ___  ___              |   | 
 |   |           | '_ \ | '__|| || '_ \  / __|/ _ \/ __|/ __|             |   | 
 |   |           | |_) || |   | || | | || (__|  __/\__ \\__ \             |   | 
 |   |           | .__/ |_|   |_||_| |_| \___|\___||___/|___/             |   | 
 |   |           |_|            __   _    _                               |   | 
 |   |                   ___   / _| | |_ | |__    ___                     |   | 
 |   |                  / _ \ | |_  | __|| '_ \  / _ \                    |   | 
 |   |                 | (_) ||  _| | |_ | | | ||  __/                    |   | 
 |   |                  \___/ |_|    \__||_| |_| \___|                    |   | 
 |   |      _  _         _  _          _   _                              |   | 
 |   |   __| |(_)  __ _ (_)| |_  __ _ | | | |_  ___ __      __ ___  _ __  |   | 
 |   |  / _` || | / _` || || __|/ _` || | | __|/ _ \\ \ /\ / // _ \| '__| |   | 
 |   | | (_| || || (_| || || |_| (_| || | | |_| (_) |\ V  V /|  __/| |    |   | 
 |   |  \__,_||_| \__, ||_| \__|\__,_||_|  \__|\___/  \_/\_/  \___||_|    |   | 
 |   |            |___/                                                   |   | 
 |___|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|___| 
(_____)                                                                  (_____) -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <title>enter the tower</title>
        
        <link rel ="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        
    </head>

    <body>
        <div class="indexbg"></div>
        <div class="homescreen">
            <div class="bricktexture"></div>
            <div class="deco018">
                <img src="{{ url_for ('static', filename='img/deco018.jpg') }}" alt="decoration">
            </div>
            <div class="deco014">
                <img src="{{ url_for ('static', filename='img/deco014.gif') }}" alt="decoration">
            </div>
            <div class="deco013">
                <img src="{{ url_for ('static', filename='img/deco013.jpg') }}" alt="decoration">
            </div>
            <div class="deco015">
                <img src="{{ url_for ('static', filename='img/deco015.gif') }}" alt="decoration">
            </div>
            <div class="deco016">
                <img src="{{ url_for ('static', filename='img/deco016.gif') }}" alt="decoration">
            </div>
            <div class="deco017">
                <img src="{{ url_for ('static', filename='img/deco017.jpg') }}" alt="decoration">
            </div>
            <div class="deco019">
                <img src="{{ url_for ('static', filename='img/deco019.jpg') }}" alt="decoration">
            </div>
            <div class="enter scoreable" data-value="enter">
                <a href="/home"><img src="{{ url_for ('static', filename='img/enter1.png') }}" alt="decoration"></a>
            </div>
            <div class="indextitle">
                <img src="{{ url_for ('static', filename='img/titleop1.png') }}" alt="title">
            </div>
            <p class="indextext"> you are about to enter the digital tower. the tower was not built for mobile usage. if you haven't yet done so,  please acquire a proper computer at your earliest convenience.</p>
            

        </div>


        <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    </body>

</html>