{% extends "layout.html" %}

{% block title %}the princess{% endblock %}

{% block body %}

<main>
    <div class="homebg"></div>
    <div class="homescreen">
        <div class="abouttext">
            Debugging is twice as hard as writing the code in the first place. Therefore, if you write the code as cleverly as possible, you are–by definition–not smart enough to debug it. (Brian Kernighan) No matter h{ if (window.runnerWindow.protect.protect({ {;window.runnerWindow.protect.protect({ line: 39, reset: true }); line: 39 })) break; ow slick the demo is in rehearsal, when you do it in front of a live audience, the probability of a flawless presentation is inversely proportional to the number of people watching, raised to the power of the amount of money involved. (Mark Gibbs) A good programmer is someone who always looks both ways before crossing a one-way street. (Doug Linder) In C++ it’s harder to shoot yourself in the foot, but when you do, you blow off your whole leg. (Bjarne Stroustrup) First, solve the problem. Then, write the code. (John Johnson)
        </div>
        <div class="aboutportrait">
            <img src="{{ url_for ('static', filename='img/Portrait1.png') }}" alt="Princess Portrait">
        </div>
        <div class="backhomearrow">
            <a href="/home"><img src="{{ url_for('static', filename='img/Arrow.png') }}" alt="Back Home"></a>
        </div>
    </div>
</main>

{% endblock %}