{% extends "layout.html" %}

{% block title %}the princess{% endblock %}

{% block body %}

<main>
    <div class="homebg"></div>
    <div class="homescreen">
        <div class="abouttext">
            this is princess zzuchie of the digital tower. she was born to rule over the digital kingdom, 
            until a virus changed her forever. she is now doomed to spend the rest of her days locked inside the this tower. 
            not by a lock and key, but by her limitless desire to scour the digital realm. the princess doesn't receive guests often, 
            so excuse her hosting manners. make yourself at home and feel free to explore the tower, but be mindful of your steps. 
            you never know who might be watching... 

            
        </div>
        <div class="aboutportrait">
            <img src="{{ url_for ('static', filename='img/Portrait1.png') }}" alt="Princess Portrait">
        </div>
        <div class="backhomearrow">
            <a href="/home"><img src="{{ url_for('static', filename='img/Arrow.png') }}" alt="Back Home"></a>
        </div>
    </div>
</main>

{% endblock %}